<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Brain Tumor- Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img3/favicon.png" rel="icon">
  <link href="static/img3/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor3/aos/aos.css" rel="stylesheet">
  <link href="static/vendor3/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor3/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor3/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor3/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor3/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css3/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bikin - v4.1.0
  * Template URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">HealthAI</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Details</a></li>
     
          <li><a class="nav-link scrollto" href="#team">Deep Learning</a></li>
          <li><a class="nav-link scrollto" href="#contact">Service</a></li>
         
      
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Brain - Tumor Detection</h1>
      <h2>Making Computer Vision More Powerfull To Detect Disease More Fast</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      <img src="static/img3/brain2.jpg" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>What is Brain-Tumor</h3>
              <p>
                A brain tumor is a collection, or mass, of abnormal cells in your brain. Your skull, which encloses your brain, is very rigid. Any growth inside such a restricted space can cause problems.
              </p>
              <a href="https://en.wikipedia.org/wiki/Brain_tumor" class="about-btn" target="_blank">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch" data-aos="fade-left">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>World Brain Tumor Day</h4>
                  <p>Every year 8th of June is celebrated as World Brain Tumor Day. </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Death Rate</h4>
                  <p>Brain tumour is a deadly disease.Majority of patients die within 9-12 months and less than 3% survive more than 3 years.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Brain Tumor Treatment</h4>
                  <p>Options for brain tumour treatment include surgery, radiation therapy, chemotherapy or a combination thereof.</p>
                </div>
        <!--        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Brain Tumor Death in India</h4>
                  <p>
                    
                    </p>
                </div> -->
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
  <!--  <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section> --><!-- End Clients Section -->

      






























    
      
       <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Details</h2>
          
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-emoji-dizzy"></i></div>
              <h4 class="title"><a href="">Symptoms</a></h4>
            
                
            <!--     <ul>
              <li>Headache  (usually worse in the morning).</li>
              <li>Changes in speech, vision, or hearing.</li>
              <li>Problems in balancing or walking.</li>
                
                 <li>Nausea and vomiting.</li>
                
                 <li>Problems with memory.</li>
                
                
            </ul> -->
                
                
            
              <p class="description">
                
                
                1.Headache  (usually worse in the morning).
              <br>2.Changes in speech, vision, or hearing.
              <br>3.Problems in balancing or walking.
                
                 <br>4.Difficulty in swallowing and speaking
                
                 <br>5.Problems with reading, writing.
                  <br>6.Abnormal fatigue and weariness
                  <br>7.Lack of co-ordination when walking
                  <br>7.Difficulty in understanding words or speaking
              
                </p> 
                
                
                
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Causes</a></h4>
              <p class="description">There is no specific cause of brain tumour. Mutation of certain genes can be the main cause . The role of radiation caused by gadgets like mobile phones in causing various types of cancers including brain tumour is widely debated. However, this fact has not yet been proven. Brain tumours, like other tumours, are not infectious and can't be passed on to other people.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Diagnosis</a></h4>
              <p class="description">
                
                Based on   history, symptoms, physical and neurological examination, techniques like MRI, CT scan, angiogram or spinal tap may assist in diagnosis.
                  <br>MRI and CT scan are very useful imaging techniques in the diagnosis of brain tumour.
                
                </p>
            </div>
          </div>

        <!--  <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>  -->

        </div>

      </div>
    </section><!-- End Services Section -->

      
      
      
      
      
      
      
      
      
      
      
      
      
    <!-- ======= Features Section ======= -->
    <section id="team" class="team" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Deep Learning in Brain Tumor Detection</h2>
        <!--  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="static/img3/download.jpg" class="img-fluid"  width="500" height="600">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>Artificial Intelligence in Healthcare: Hype or Hope</h3>
           <p class="fst-Times roman">
             
               The advancement in medical technologies helps the clinical experts to facilitate more efficient e-health care systems to the patients. There is a number of medical domains where e-health care systems are beneficial . Computer vision-based applications of biomedical imaging are gaining more importance as they provide recognition information to the radiologist for batter treatment-related problems. Different medical imaging techniques and methods that include X-ray, Magnetic Resonance Imaging (MRIs), Ultrasound, and Computed Tomography (CT), have a great influence on the diagnosis and treatment process of patients.
               
             <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7071415/" target="_blank">More</a>
            </p> 
           
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="static/img3/child-having-mri-scan.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>What We are Doing</h3>
            <p class="fst-Times roman">
             Misdiagnosis of the tumor affects the medical intervention and reduces the chances of survival of patients. Conventional methods that identify the tumor using MRIs are time-consuming .What we are trying to so is that we are using the power of Transer Learning in our model to make accurate and fast prediction. The architecture is trained on a publicly available dataset containing 3064 MRIs that achieve 85.51% accuracy for classification . 
           
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="static/img3/qq.JPG" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Future of AI Based image analysis: Qure AI</h3>
            <p>     Qure.ai was founded in 2016. Our mission is to use artificial intelligence to make healthcare more accessible and affordable. Our core team combines deep learning expertise with clinical, scientific and regulatory knowledge. Our advisory panel consists of radiologists, other doctors and public health experts. We work with these specialists to define clinically relevant problems and design real-world solutions.

</p>
          
          </div>
        </div>

     <!--   <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/features-4.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div> -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Steps Section ======= -->
   
   

    
  

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Service</h2>
  
        </div>


        <form action="/braini" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
          <span class="text-left btn btn-default btn-file">

            <div class="holder">
              <img id="imgPreview" src="static/img3/brainpic.jpg" alt="pic" height="300" width="300">
          </div>
              Upload Image <input type="file" name="image">
              <input type="submit" value="Predict" class="btn btn-primary">
          </span>   
      
         <!-- <span class="text-right">
            <input type="submit" value="Predict" class="btn btn-primary">
          </span> -->
        </form>
  






      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

     <footer id="footer">

<!--    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>HealthAI</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div> -->

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
<!--          &copy; Copyright <strong><span>Medilab</span></strong>. All Rights Reserved -->
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
          <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      --> 
            <h5> Created by</h5>
            
            <h6> Vivek Penuli, Mohan Aggarwal</h6>
</div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
-->      
</div>
    </div>
  </footer><!-- End Footer -->

  <!-- ======= Footer ======= -->
 

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor3/aos/aos.js"></script>
  <script src="static/vendor3/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor3/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor3/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor3/php-email-form/validate.js"></script>
  <script src="static/vendor3/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js3/main.js"></script>

</body>

</html>