<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HealthAI- Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img4/favicon.png" rel="icon">
  <link href="static/img4/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor4/aos/aos.css" rel="stylesheet">
  <link href="static/vendor4/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor4/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor4/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor4/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor4/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor4/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css4/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v3.1.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">HealthAI<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Vaccines</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Awareness</a></li>
          <li><a class="nav-link scrollto" href="#contact">Service</a></li>
        
          <li><a class="nav-link scrollto" href="#faq">Treatment</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

     <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>	Coronavirus Disease 2019 (COVID‑19)</h1>
          <h2>The virus that shut down the world:</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
    
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

           <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/img4/phy.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/img4/modr.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/img4/a.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/img4/bharat-biotech-logo.jpg" class="img-fluid" alt=""></div>
             <div class="swiper-slide"><img src="static/img4/jj.png" class="img-fluid" alt=""></div>
               <div class="swiper-slide"><img src="static/img4/ss.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>What Is Coronavirus?</h3>
              <p>
               Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes.
              </p>
              <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank" class="about-btn"><span>Learn More</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
            
            
            
            
            
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>When was COVID-19 first reported?</h4>
                  <p>The first case reported from Wuhan, China, on 31 December 2019.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Can COVID-19 spread through food?</h4>
                  <p>
                    There is no evidence that COVID-19 can be spread through contact with food or food packaging. <a href="https://www.who.int/campaigns/connecting-the-world-to-combat-coronavirus/healthyathome/healthyathome---healthy-diet#:~:text=There%20is%20no%20evidence%20that,food%2Dborne%20illnesses.">Learn more</a>
                    </p>
                </div>
<!--
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Beatae veritatis</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
-->
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


   

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            
              <h4 class="d-none d-lg-block">Covid-19 Symptoms</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
             
              <h4 class="d-none d-lg-block">Precautions</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
             
              <h4 class="d-none d-lg-block">Covid-19 Spread</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">

              <h4 class="d-none d-lg-block">Deep Learning Model</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
               <!-- <h3>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</h3>
            -->
                  <p>
                  COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
                  </p>
                
                <p>
               <h3>  Most common symptoms:</h3>
fever.
<br>dry cough.
<br>tiredness.
                  <br>
                  <h3>Serious symptoms:</h3>
difficulty breathing or shortness of breath.
<br>chest pain or pressure.
<br>loss of speech or movement.
                  <br>
                  <br>
                  
            On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days. 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="static/img4/sym2.jpg" alt="" height="40" width="450" class="img-fluid" >
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                
                <p>
             To prevent infection and to slow transmission of COVID-19, do the following:
                    <br>
<br>1.Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.
<br>2.Maintain at least 1 metre distance between you and people coughing or sneezing.
<br>3.Avoid touching your face.
<br>4.Cover your mouth and nose when coughing or sneezing.
<br>5.Stay home if you feel unwell.
<br>6.Refrain from smoking and other activities that weaken the lungs.
                    <br>
<br>7.Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.

                    
                    
                    
                </p>
               
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img4/pre.jpg" alt="" height="40" width="500" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
               
                <p>
                    <br>
The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe heavily. These liquid particles are different sizes, ranging from larger ‘respiratory droplets’ to smaller ‘aerosols’.
<br><br>
Other people can catch COVID-19 when the virus gets into their mouth, nose or eyes, which is more likely to happen when people are in direct or close contact (less than 1 metre apart) with an infected person.
<br><br>
Current evidence suggests that the main way the virus spreads is by respiratory droplets among people who are in close contact with each other.
                </p>
               
            
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img4/sp.JPG" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">


              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>In Covid -19 Detection model. we are using the concept of Tansfer Learning </h3>
            
                <ul>
                  <li><i class="ri-check-double-line"></i>Transfer Learning: VGG16</li>
                    <p i class="ri-check-double-line">
                        Dataset size: 8642 <br>
                        -----------------------------------<br>
                        Total Training Covid Images: 2169 <br>
                        Total Training Normal Images: 3000 <br>
                        Total Training Images: 5169<br>
                        Total Training Accuracy: 0.91<br>
                        -----------------------------------<br>
                        Total Testing Covid Images: 723<br>
                        Total Testing Normal Images: 1000<br>
                        Total Testing Images: 1723 <br>
                        Total Testing Accuracy: 0.90<br>
                        -----------------------------------<br>
                        Total Validation Covid Images: 723 <br>
                        Total Validation Normal Images: 1000<br>
                        Total validation Images: 1723<br>
                        Total Validation Accuracy: 0.93<br>
                        -----------------------------------<br>

                    </p>
                </ul>      
                  
          <!--      <table border="1" bordercolor="#aaa" cellspacing="0" cellpadding="0">
<tr>
    <td>
    <img style="display:block;" width="400" height="350" src="static/img1/Train%20vs%20Validation%20Accuracy.png" />
    </td>
    <td>
        <img style="display:block;" width="400" height="350" src="static/img1/Train%20vs%20Validation%20Loss.png" />
    </td>
</tr>
                  </table>    -->    
                  
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img4/viv.png" alt="" class="img-fluid">
              </div>












         <!--    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img4/tabs-4.jpg" alt="" class="img-fluid">
              </div>  -->
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->

   <!-- End Services Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg ">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>vaccines</h2>
        <p>List of vaccines approved by Government of Indida and there vaccine efficacy rate</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <!--  <i class="bi bi-briefcase"></i> -->
              <i class="bi bi-shield-fill-plus"></i>
            <h4><a href="#">Covishield</a></h4>
            <p>serum Institute of India (SII), has manufactured Covishield,
              <br>        
Effectiveness: Based on data provided by the manufacturer, the Astrazeneca-Oxford vaccine, has shown to be 63% effective in an ongoing, large-scale clinical trial.
               Price: private hospitals Rs 780 per dose and state governments : FREE.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
      <i class="bi bi-plus-square-fill"></i>
            <h4><a href="#">Covaxin</a></h4>
            <p>Manufactured by Bharat Biotech in collaboration with the Indian Council of Medical Research (ICMR).In the trial results, Bharat Biotech and the ICMR said that Covaxin demonstrates an overall interim clinical efficacy of 78%
              Price: Private Hospital : 1200 per dose and Government Hospital : Free</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-bar-chart"></i>
            <h4><a href="#">Sputnik V</a></h4>
            <p>The Russian Direct Investment Fund (RDIF) partnered with Dr Reddy's in September 2020 to conduct clinical trials of Sputnik V in India. Russia's Sputnik V vaccine is 91.6% effective against COVID-19, according to results published in The Lancet in February. 
              price: 1145 per dose</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-binoculars"></i>
            <h4><a href="#">Pfizer</a></h4>
            <p>Pfizer Inc. is an American multinational pharmaceutical corporation.
                Clinical trials show that the Pfizer-BioNTech COVID-19 vaccine has a very high efficacy — 95 percent — against symptomatic infection
              Price: No Information</p>
          </div>
        </div>
       
       
      </div>

    </div>
  </section>


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Awareness about covid 19</h2>
          <p>Coronavirus disease (COVID-19) Awareness News for the public</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Mythbusters</li>
              <li data-filter=".filter-card">Videos</li>
              <li data-filter=".filter-web">Website</li>
                
                
            </ul>
          </div>
        </div>
          
          
         
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/hy.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
            <h4>Hydroxychloroquine</h4>
                <div class="portfolio-links">
                  <a href="static/img4/hy.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/swimming.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info"> 
                <h4>Swimming</h4>
                <div class="portfolio-links">
                  <a href="static/img4/swimming.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/fake.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fake News</h4>
                
                <div class="portfolio-links">
                  <a href="static/img4/fake.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/fact.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> Drinking alcoho</h4>
              
                <div class="portfolio-links">
                  <a href="static/img4/fact.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Drinking alcohol does not protect you against COVID-19 and can be dangerous
"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/th.JPG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Thermal scanners</h4>
            
                <div class="portfolio-links">
                  <a href="static/img4/th.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Thermal scanners CANNOT detect COVID-19"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/sun.JPG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Hot and Humid Climates</h4>
                
                <div class="portfolio-links">
                  <a href="static/img4/sun.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The COVID-19 virus can spread in hot and humid climates"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

         
            
            
            
            
             <div class=" portfolio-item filter-card">
              <table>         
                 <tr>
                  <td>
                          <iframe width="370" height="290" src="https://www.youtube.com/embed/K3odScka55A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
                     </td>
                     
                     <td>
                         
                         <iframe width="370" height="290" src="https://www.youtube.com/embed/rj-_9nTej8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                     </td>
                     <td>
                          <iframe width="370" height="290" src="https://www.youtube.com/embed/BtN-goy9VOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   
                     </td>
                  </tr>
                 
                 </table>               
          </div>
               
            
            
            
            
             <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/BITE.JPG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mosquito</h4>
          
                <div class="portfolio-links">
                  <a href="static/img4/BITE.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The COVID-19 virus CANNOT be spread through mosquito bites"><i class="bx bx-plus"></i></a>
               
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/pn.JPG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Pneumonia</h4>
                
                <div class="portfolio-links">
                  <a href="static/img4/pn.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Vaccines against pneumonia DO NOT protect against the COVID-19 virus"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

        
            
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img4/garlic.JPG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Garlic</h4>
                
                <div class="portfolio-links">
                  <a href="static/img4/garlic.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Eating garlic does NOT prevent COVID-19"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>
            
            
            
               <div class=" portfolio-item filter-card">
              <table>         
                 <tr>
                  <td>
                      
   
                      
                      
                       <iframe width="370" height="290" src="https://www.youtube.com/embed/Ha6yUxze1vk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </td>
                     
                     <td>
                         
                           <iframe width="370" height="290" src="https://www.youtube.com/embed/uWGTciX795o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                     </td>
                     <td>
                   <iframe width="370" height="290" src="https://www.youtube.com/embed/5K9fpJq3MNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </td>
                  </tr>
                 
                 </table>               
          </div>
            
            
            
              <div class=" portfolio-item filter-card">
              <table>         
                 <tr>
                  <td>
                      
       <iframe width="370" height="290" src="https://www.youtube.com/embed/vVZLtR-CFWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </td>
                     
                     <td>
                   <iframe width="370" height="290" src="https://www.youtube.com/embed/io-oreIAuTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </td>
                     <td>
                           <iframe width="370" height="290" src="https://www.youtube.com/embed/9Tv2BVN_WTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         
                 
                     </td>
                  </tr>
                 
                 </table>               
          </div>
            
            
            
         
         
              

  
              <div class=" portfolio-item filter-web">
                <table>         
                   <tr>
                    <td>
                        <h4>Vaccine Registration</h4>
                        <a href="https://selfregistration.cowin.gov.in/" target="_blank">
                     <img border="0" alt="W3Schools" src="static/img4/aarogya.png" width="370" height="250"></a>
        
                       </td>
                       
                       <td>
                           <h4>Covid Testing</h4>
                     <a href="https://dshm.delhi.gov.in/(S(bwwgkq3b1j5mtoa3etilrril))/COVID_TestingFacilities.aspx" target="_blank">
                     <img border="0" alt="W3Schools" src="static/img4/rtpcr.jpg" width="370" height="250"></a>
                           
                           
                       </td>
                       <td>
                             
                           <h4>Covid-Info</h4>
                   <a href="https://www.mohfw.gov.in/" target="_blank">
                     <img border="0" alt="W3Schools" src="static/img4/mh.jpg" width="370" height="250"></a>
                       </td>
                       
                       
               
                       
                    </tr>
                   
                   </table>       
                   
                   <br>
                   
                   <table>
                   <tr>
                       
                        <td>
                             
                           <h4>Covid Beds in Delhi</h4>
                   <a href="https://coronabeds.jantasamvad.org/beds.html" target="_blank">
                     <img border="0" alt="W3Schools" src="static/img4/bed.jpg" width="370" height="250"></a>
                       </td>
                       
                       
                       
                       
                        <td>
                             
                           <h4>Covid-ICU Beds in Delhi</h4>
                   <a href="https://coronabeds.jantasamvad.org/all-covid-icu-beds.html" target="_blank">
                     <img border="0" alt="W3Schools" src="static/img4/ICU.jpg" width="370" height="250"></a>
                       </td>
                       
                        <td>
                             
                           <h4>FAQ on COVID-19 Vaccine </h4>
                   <a href="https://dshm.delhi.gov.in/(S(1c2tclbvpmmfo2wsiewtitpo))/CovidFaq.aspx" target="_blank">
                     <img border="0" alt="W3Schools" src="static/img4/FAQ.JPG" width="370" height="250"></a>
                       </td>
                       
                       
                       </tr>
                   
                   
                   </table>
                   
                   





            
          
            
            
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
   <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img4/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img4/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img4/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img4/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="static/img4/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
 <!--   <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    -->
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Service</h2>
        </div>

        <form action="/covidi" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
          <span class="text-left btn btn-default btn-file">

            <div class="holder">
              <img id="imgPreview" src="static/img4/covidpic.jpg" alt="pic" height="300" width="350">
          </div>
              Upload Image <input type="file" name="image">
              <input type="submit" value="Predict" class="btn btn-primary">
          </span>   
      
         <!-- <span class="text-right">
            <input type="submit" value="Predict" class="btn btn-primary">
          </span> -->
        </form>
  
        
  

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
 <!--   <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/img4/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/img4/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static/img4/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="static/img4/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- End Team Section -->

 <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

   <!-- <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Presento<span>.</span></h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div> -->

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
    <!--    <div class="copyright">
          &copy; Copyright <strong><span>Presento</span></strong>. All Rights Reserved
        </div> -->
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
          <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div> -->
            <h6>Created By:</h6>
            <h7>Vivek Penuli, Mohan Aggarwal</h7>
      </div>
      <!--<div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor4/aos/aos.js"></script>
  <script src="static/vendor4/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor4/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor4/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor4/php-email-form/validate.js"></script>
  <script src="static/vendor4/purecounter/purecounter.js"></script>
  <script src="static/vendor4/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js4/main.js"></script>

</body>

</html>